/* Start variables */
:root {
  --main-color: #ffe600;
  --secondary-color: #1c315e;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* outline: solid 2px limegreen !important; */
  outline: none;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  background-color: #ffffff;
  margin: 0;
}
.container {
  width: 76.974%;
  margin: 0 10%;
}
.nav-bar {
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav-bar ul {
  list-style: none;
}
.nav-bar ul li {
  display: inline-block;
  margin: 0 20px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s ease;
}
.nav-bar ul li a:hover {
  color: var(--main-color);
  transform: scale(1.05);
}
.nav-bar img {
  cursor: pointer;
  height: 100%;
}
/* End */
/* Start */
.section-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
}
.section-first .img-container {
  width: 50%;
  height: 70%;
}
.section-first .img-container img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .img-container {
    opacity: 0;
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
  }
  .info-text {
    width: 100% !important;
    text-align: center;
  }
  .container h1 {
    font-size: 50px !important;
  }
  .info-text p {
    font-weight: 700 !important;
    font-size: 20px;
  }
  .section-first {
    flex-direction: column;
  }
  .container {
    width: 80%;
    margin: 0 10%;
  }
  *{
    max-width: 100% !important;
  }
}
.section-first .info-text {
  width: 50%;
}
.container h1 {
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
}
.section-first .info-text p,
.about-us p {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}
.work button,.info-text button {
  height: 50px;
  width: 170px;
  background-color: #ffe600;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: 0.4s ease;
  transition-delay: 0.1s;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.section-first .info-text button::before,
.work button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transition: 0.4s ease;
}
.section-first .info-text button:hover:before,
.work button:hover:before {
  width: 100%;
  z-index: -1;
}
.info-text button:hover,
.work button:hover {
  color: white;
  z-index: 999;
  background-color: transparent;
}

/* Start portofolio section */
.artwork span,
.sec2 span {
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--main-duration) ease;
  position: relative;
  display: inline-block;
}
.artwork span:hover {
  background-color: var(--main-color);
}
.sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 i {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, 80%);
  animation-name: loop;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

@keyframes loop {
  from {
    transform: translateY(70%);
  }
  to {
    transform: translateY(100%);
  }
}
.sec2 .pop {
  list-style: none;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  right: 117px;
  transition: 3s ease;
}
.pop li {
  padding: 15px 30px;
  font-weight: 600;
  background-color: #eee;
  cursor: pointer;
  transition: var(--main-duration) ease;
}
.pop li:hover {
  background-color: var(--main-color);
}
.pop ul {
  position: relative;
}
.pop li:hover ~ .pop {
  visibility: visible;
}
.sec2 ul span:hover ~ div.pop {
  visibility: visible;
  opacity: 100;
}
.cards-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}
.box {
  background-color: #eee;
  max-width: 100%;
  max-height: 100%;
  grid-row: 300px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.cards-layout .box:nth-child(1) {
  grid-row: 1 / span 3;
  background-image: url(../imgs/pic1.png);
  background-position: center;
  background-size: cover;
}
.cards-layout .box:nth-child(2) {
  grid-row: 1 / span 5;
  background-image: url(../imgs/pic3.png);
  background-position: center;
  background-size: cover;
}
.cards-layout .box:nth-child(3) {
  grid-row: 1 / span 3;
  background-image: url(../imgs/pic5.png);
  background-position: center;
  background-size: cover;
}
.cards-layout .box:nth-child(4) {
  grid-row: 4 / span 5;
  background-image: url(../imgs/pic2.png);
  background-position: center;
  background-size: cover;
}
.cards-layout .box:nth-child(5) {
  grid-row: 6 / span 3;
  background-image: url(../imgs/pic4.png);
  background-position: center;
  background-size: cover;
}
.cards-layout .box:nth-child(6) {
  grid-row: 4 / span 5;
  background-image: url(../imgs/pic6.png);
  background-position: center;
  background-size: cover;
  background-color: var(--main-color);
}

body .container:nth-child(3) {
  padding: 50px 0;
}
.box h1 {
  text-align: center;
  margin-bottom: 10px;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s ease;
  z-index: 999;
  font-size: 50px;
  text-transform: uppercase;
}

.box h6 {
  text-align: center;
  margin-top: 0;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s ease;
  z-index: 999;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.box .yelow {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 230, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: var(--main-duration);
}
.box:hover h1,
.box:hover h6,
.box:hover .yelow {
  opacity: 100;
}
@media (max-width: 768px) {
  .sec2 {
    justify-content: center;
    flex-wrap: wrap;
  }
  .work button {
    margin: 5% 15% !important;
  }
  .box h1 {
    font-size: 20px !important;
    overflow-wrap: break-word;
  }
  .box h6 {
    font-size: 15px;
  }
}
/* End portofolio section */
/* start Partners section */
.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10%;
  width: 80%;
}
.partners img {
  object-fit: contain;
  margin: 5px;
}
body .container:nth-child(4) {
  width: 100%;
  margin: 0;
  background-color: #fdfdfd;
  padding: 10% 0;
}
/* End Partners section */
/* Start About-us section */
.picters-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picters {
  display: flex;
  justify-content: space-between;
}
.picters img {
  transform: scale(0.9);
  position: relative;
}
.little-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
  border: 2px solid rgb(182, 182, 182);
  padding: 0 15px;
  height: 375px;
}
.little-about-us a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: var(--main-duration);
}
.little-about-us a:hover {
  color: var(--main-color);
}
@media (max-width: 768px) {
  .picters-flex,
  .picters {
    flex-direction: column;
  }
  .little-about-us {
    padding: 0 0 !important;
    margin: 0 !important;
    height: auto;
    border: none;
  }
  .info-div {
    bottom: 24px !important;
    left: 15px !important;
  }
}
.info-div {
  width: 70%;
  height: 17%;
  background-color: var(--main-color);
  position: absolute;
  bottom: 28px;
  left: 18px;
  z-index: 999;
}
.imag {
  position: relative;
}
.imag h3 {
  margin: 0 20px;
  font-size: 20px;
}
.imag p {
  margin: 5px 15px;
  font-size: 14px;
  color: white;
}
/* End About-us section */
/* start Blogs section */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
  position: relative;
}
.card-container .card {
  background-color: white;
  transition: 0.4s ease;
}
.card .imge-card {
  max-width: 100%;
  height: 218px;
  /* background-color: black; */
}
.card-container .imge-card{
  max-width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
}
.card-container .card:nth-child(1) .imge-card{
  background-image:url(../imgs/blog1.png) ;
}
.card-container .card:nth-child(2) .imge-card{
  background-image:url(../imgs/blog2.png) ;
}
.card-container .card:nth-child(3) .imge-card{
  background-image:url(../imgs/blog3.png) ;
}
.card-container .card .info {
  padding: 20px;
}
.card-container .card .info h3 {
  margin: 10px 0;
  text-align: center;
}
.card-container .card .info p {
  color: black;
  line-height: 1.6;
  margin-bottom: 10px;
  height: 105px;
  overflow: hidden;
}
.bonus {
  width: 100%;
  background-color: #ececec;
  padding: 20px 0;
}
.yelow1 {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color:rgba(255, 230, 0, 0.849);
  width: 326px;
  height: 218px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: .4s ease;
}
.yelow1 h2 {
  margin: 30% 0;
  font-size: 35px;
  text-transform: uppercase;
}
.card .yelow1:hover{
  opacity: 100;
}

/* End Blogs section */
/* start contact section */
.inputs_form{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.inputs_form h2{
  font-size: 27px;
  font-weight: 800;
  text-transform: capitalize;
}
.inputs_form form input[type="text"]{
  width: 565px;
  height: 45px;
  border: none;
  background-color: #fdfdfd;
  margin: 5px 10px;


}
.inputs_form form input[type="text"]:focus,textarea:focus{
  border: 2px solid var(--main-color);
}
.inputs_form textarea {
  width: 565px;
  height: 150px;
  padding: 5px 10px 5px 10px;
  transition: 0.3s;
  margin: 5px 5px 20px 5px;
  border: 0px;
  background-color: #fdfdfd;
}
@media (max-width: 768px){
  .inputs_form form input[type="text"],textarea{
    max-width: 100%;
  }
  .input-form-image{
    visibility: collapse;
  }
  .input-form-text{
    max-width: 100%;
  }
  
}
.inputs_form img{
  size: 60%;
}
/* End contact section */
/* start contact-icon section */
.icon_section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon_info{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100px;
}
.container:nth-child(8){
  margin: 10px 10%;
}
.social{
  font-size: 30px;
  margin: 10px;
  text-align: center;
}
.social i{
  margin: 10px 40px;
  cursor: pointer;
  transition: .3s ease;
}
.social i:hover{
  color: #ffe600;
}
.container:nth-child(9){
background-color: #1e1e1e;
  margin: 10px 0 0;
 width: 100%;
 color: white;
}
.container:nth-child(9) a{
  text-decoration: none;
}
/* End contact-icon section */
